@font-face {
    font-family: "Windows";
    src: url(Windows\ Regular.ttf);
}



body {
    background-color: #222222;
    color: #f0ffff;
    font-family: "Windows";
    text-align: center;
    margin: auto;
    zoom: 250%;
    text-shadow: 0px 3px 0px #101010;
}

p {
    text-shadow: 0px 2px 0px #101010;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#socials {
    color: #e865ff;
}

a {
    text-shadow: 0px 1px 0px #180a23;
    color: rgb(163, 65, 255);
    display: block;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

h1 {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#iltaaimg {
    width: 20%;
    display: block;
    margin: auto;
    box-shadow: 4px 4px 0px #101010;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}