@font-face {
    font-family: "Windows";
    src: url(Windows\ Regular.ttf);
}



body {
    background-color: #000000;
    color: #f0ffff;
    font-family: "Windows";
    text-align: center;
    margin: auto;
    zoom: 250%;
}

#socials {
    color: #FF9EFF;
}

a {
    color: #FF50FF;
    display: block;
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

#iltaaimg {
    width: 130px;
    display: block;
    margin: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}